nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px 20px;
  background-color:#020617;
  color:white;
}

nav h1{
  color:#38bdf8;
}

nav ul{
  display:flex;
  gap:26px;
  list-style:none;
}

nav ul li a{
  text-decoration:none;
  color:white;
  cursor:pointer;
}

nav ul li a:hover{
  color:#00adb5;
  text-decoration:underline;
}